<!DOCTYPE html>
<html lang="cn">
<head>
    <script>
        window._speedMark = new Date();
        window.lead_ip = '119.139.199.74';
    </script>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="//img01.sogoucdn.com">
    <link rel="dns-prefetch" href="//img02.sogoucdn.com">
    <link rel="dns-prefetch" href="//img03.sogoucdn.com">
    <link rel="dns-prefetch" href="//img04.sogoucdn.com">
    <link rel="dns-prefetch" href="//dl.web.sogoucdn.com">
    <title>搜狗搜索引擎 - 上网从搜狗开始</title>
    <link rel="shortcut icon" href="//www.sogou.com/images/logo/new/favicon.ico?v=2" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="搜狗搜索,网页搜索,微信搜索,视频搜索,图片搜索,音乐搜索,新闻搜索,软件搜索,问答搜索,百科搜索,购物搜索">
    <meta name="description" content="中国最领先的中文搜索引擎，支持微信公众号、文章搜索，通过独有的SogouRank技术及人工智能算法为您提供最快、最准、最全的搜索服务。">
    <link rel="stylesheet" th:href="@{/static/css/base.css}" href="/static/css/base.css" type="text/css">
    <style>.wrapper .suggestion {
        width: 614px
    }

    .wrapper .nobg .suglist {
        width: 614px;
        _width: 611px;
    }

    .wrapper .suglist {
        width: 195px;
    }</style>
</head>
<body>
<div class="wrapper" id="wrap">
    <div class="header">
        <div class="top-nav">
            <ul>
                <li><a onclick="st(this,'40030300','news')" href="http://news.sogou.com" uigs-id="nav_news"
                       id="news">新闻</a></li>
                <li class="cur"><span>网页</span></li>
                <li><a onclick="st(this,'73141200','weixin')" href="http://weixin.sogou.com/" uigs-id="nav_weixin"
                       id="weixinch">微信</a></li>
                <li><a onclick="st(this,'40051200','zhihu')" href="http://zhihu.sogou.com/" uigs-id="nav_zhihu"
                       id="zhihu">知乎</a></li>
                <li><a onclick="st(this,'40030500','pic')" href="http://pic.sogou.com" uigs-id="nav_pic" id="pic">图片</a>
                </li>
                <li><a onclick="st(this,'40030600','video')" href="http://v.sogou.com/" uigs-id="nav_v"
                       id="video">视频</a></li>
                <li><a href="http://mingyi.sogou.com?fr=common_index_nav" uigs-id="nav_mingyi" id="mingyi"
                       onclick="st(this,'','myingyi')">明医</a></li>
                <li><a href="http://english.sogou.com?fr=common_index_nav" uigs-id="nav_english" id="english"
                       onclick="st(this,'','english')">英文</a></li>
                <li><a href="http://scholar.sogou.com?fr=common_index_nav" uigs-id="nav_scholar" id="scholar"
                       onclick="st(this,'','scholar')">学术</a></li>
                <li class="show-more">
                    <a href="javascript:void(0);" id="more-product">更多</a>
                    <div class="pos-more" id="products-box">
                        <span class="ico-san"></span>
                        <a onclick="st(this,'40031000')" href="http://map.sogou.com" uigs-id="nav_map" id="map">地图</a>
                        <a onclick="st(this,'web2ww')" href="http://wenwen.sogou.com/" uigs-id="nav_wenwen"
                           id="index_more_wenwen">问问</a>
                        <a onclick="st(this,'40031500')" href="http://gouwu.sogou.com/" uigs-id="nav_gouwu"
                           id="index_more_gouwu">购物</a>
                        <a onclick="st(this,'40051203')" href="http://baike.sogou.com/Home.v" uigs-id="nav_baike"
                           id="index_more_baike">百科</a>
                        <a onclick="st(this)" href="http://zhishi.sogou.com" uigs-id="nav_zhishi"
                           id="index_more_zhishi">知识</a>
                        <a onclick="st(this,'40050200')" href="http://mp3.sogou.com/" uigs-id="nav_music"
                           id="index_more_music">音乐</a>
                        <a onclick="st(this,'40051205')" href="http://as.sogou.com/" uigs-id="nav_app"
                           id="index_more_appli">应用</a>
                        <span class="all"><a onclick="st(this,'40051206')" href="http://www.sogou.com/docs/more.htm?v=1"
                                             uigs-id="nav_all" target="_blank">全部</a></span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="user-box">
            <div class="local-weather" id="local-weather">
                <div class="wea-box" id="cur-weather" style="display: none;"></div>
                <div class="pos-more" id="detail-weather"></div>
            </div>
            <span class="line" id="user-box-line" style="display: none;"></span>
            <div class="user-enter">
                <a href="javascript:void(0);" id="show-card" style="display: none" uigs-id="settings_show-card">显示卡片</a>
                <a href="javascript:void(0);" uigs-id="settings_change-skin" id="changeSkinBtn">换肤</a>
                <a href="javascript:void(0);" class="enter" id="loginBtn">登录</a> <a href="javascript:void(0);"
                                                                                    class="settings" id="settings"></a>
                <div class="pos-more" id="settings-box">
                    <span class="ico-san"></span>
                    <a href="/advanced/config.html" uigs-id="settings_config">个性设置</a>
                    <a href="/advanced/advanced.html?w=01090100" uigs-id="settings_advanced">高级搜索</a>
                    <a href="http://help.sogou.com/?w=01091500&v=1" uigs-id="settings_help">帮助</a>
                </div>
            </div>
        </div>
    </div>
    <div class="content" id="content">
        <div class="pos-header" id="top-float-bar">
            <div class="part-one"></div>
            <div class="part-two" id="card-tab-layer">
                <div class="c-top" id="top-card-tab"></div>
            </div>
        </div>
        <div class="logo2" id="logo-s"><span></span></div>
        <div class="logo" id="logo-l"><span></span></div>
        <div class="search-box" id="search-box">
            <form action="/web" name="sf" id="sf"
                  onsubmit="if(this.query.value=='')return false;document.sf._ast.value=Math.round(new Date().getTime()/1000);">
                <span class="sec-input-box">
                    <input type="text" class="sec-input active" name="query" id="query" maxlength="100"
                           autocomplete="off"/>
                </span>
                <span class="enter-input"><input type="submit" value="" id="stb"></span>
                <input type="hidden" name="_asf" value="www.sogou.com"/>
                <input type="hidden" name="_ast"/>
                <input type="hidden" name="w" value="01019900"/>
                <input type="hidden" name="p" value="40040100"/>
                <input type="hidden" name="ie" value="utf8"/>
                <input type="hidden" name="from" value="index-nologin"/>
            </form>
        </div>
    </div>
    <div class="card-box" id="card-box" style="display: none;">
        <div class="card-box2" id="card-box2">
            <div class="c-top" id="card-tab-box">
                <a href="javascript:void(0);" id="card-settings" uigs-id="settings_settings-btn" class="shezhi"></a>
                <div class="pos-more" id="card-options">
                    <span class="ico-san"></span>
                    <a href="javascript:void(0);" uigs-id="settings_close-card" id="close-card">关闭卡片</a>
                </div>
            </div>
            <div class="c-main" id="card-content"></div>
        </div>
    </div>
    <div class="loog-more" id="scroll-more" style="display: none;">
        <a href="javascript:void(0);" uigs-id="scroll-more">滚动查看更多<br><span class="ico_san"></span></a>
    </div>
    <div class="ft" id="footer">
        <a href="http://fuwu.sogou.com/" target="_blank" uigs-id="footer_tuiguang">企业推广</a><span class="line"></span><a
            href="http://corp.sogou.com/" target="_blank" uigs-id="footer_about">关于搜狗</a><span class="line"></span><a
            href="/docs/terms.htm?v=1" target="_blank" uigs-id="footer_disclaimer">免责声明</a><span class="line"></span><a
            href="http://fankui.help.sogou.com/index.php/web/web/index/type/4" target="_blank"
            uigs-id="footer_feedback">意见反馈</a><br>&copy;&nbsp;<span>2016</span>&nbsp;SOGOU&nbsp;-&nbsp;<a
            href="http://www.miibeian.gov.cn" target="_blank" class="g">京ICP证050897号</a>&nbsp;-&nbsp;<a
            href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11000002000025" class="ba"
            target="_blank">京公网安备11000002000025号</a>
    </div>
    <div class="kuozhan" id="QRcode-box">
        <a href="javascript:void(0);" id="miniQRcode"></a>
        <span id="QRcode"></span>
    </div>
    <a href="javascript:void(0);" class="back-top" id="back-top"></a></div>
<script>
    var SugPara, uigs_para,
            msBrowserName = navigator.userAgent.toLowerCase(),
            msIsSe = false,
            msIsMSearch = false,
            queryinput = document.getElementById('query');

    uigs_para = {
        "uigs_productid": "webapp",
        "type": "webindex_new",
        "stype": "nologin",
        "scrnwi": screen.width,
        "scrnhi": screen.height,
        "uigs_pbtag": "A",
        "uigs_cookie": "SUID,sct",
        "puid": "invaliduser",
        "cards": "",
        "cards_sw": "$cardEnabled",
        "skin": "$skinId",
        "skin_sw": "$skinEnable",
        "protocol": location.protocol.toLowerCase() == "https:" ? "https" : "http"
    };

    SugPara = {
        "enableSug": true,
        "sugType": "web",
        "domain": "w.sugg.sogou.com",
        "productId": "web",
        "sugFormName": "sf",
        "inputid": "query",
        "submitId": "stb",
        "suggestRid": "01015002",
        "normalRid": "01019900",
        "useParent": 0,
        "sugglocation": "index"
    };


    function mk_con() {
        try {
            window.external.metasearch('make_connection', 'www.google.com.hk');
        } catch (e) {
        }
    }

    if (/se 2\.x/i.test(msBrowserName)) {
        msIsSe = true;
    }

    if (/metasr/i.test(msBrowserName)) {
        msIsMSearch = true;
    }

    if (queryinput) {
        if (msIsSe && msIsMSearch) {
            if (queryinput.addEventListener) {
                queryinput.addEventListener('keypress', mk_con, false);
                queryinput.addEventListener('keydown', mk_con, false)
            } else if (queryinput.attachEvent) {
                queryinput.attachEvent('onkeypress', mk_con);
                queryinput.attachEvent('onkeydown', mk_con);
            } else {
                queryinput.onkeypress = mk_con;
                queryinput.onkeydown = mk_con;
            }
        }
    }

    window.m_s_index = function () {
        var w = document.sf.query,
                c = Math.round((new Date().getTime() + Math.random()) * 1000);

        w.focus();

        if (new RegExp("kw=([^&]+)").test(location.search)) {
            if (w.value.length == 0) {
                w.value = decodeURIComponent(RegExp.$1);
            }
        }

        if (document.cookie.indexOf("SUV=") < 0) {
            document.cookie = "SUV=" + c + ";path=/;expires=Sun, 29 July 2026 00:00:00 UTC;domain=sogou.com"
        }
    };

    function st(self, p, product, anchor) {
        var searchBox = document.sf.query,
                query = encodeURIComponent(searchBox.value),

                productUrl = {
                    "news": 'http://news.sogou.com/news?query=',
                    "web": 'web?query=',
                    "weixin": 'http://weixin.sogou.com/weixin?type=2&query=',
                    "zhihu": 'http://zhihu.sogou.com/zhihu?query=',
                    "pic": 'http://pic.sogou.com/pics?query=',
                    "video": 'http://v.sogou.com/v?query=',
                    "myingyi": 'http://mingyi.sogou.com/mingyi?fr=common_index_nav&query=',
                    "english": 'http://english.sogou.com?fr=common_index_nav&query=',
                    "scholar": 'http://scholar.sogou.com?fr=common_index_nav&query='
                },
                newHref = productUrl[product] || self.href;

        function getConnectSymbol(url) {
            return url.indexOf("?") > -1 ? '&' : '?';
        }

        if (searchBox && searchBox.value !== '') {

            if (productUrl[product]) {
                newHref = productUrl[product] + query;
            } else if (newHref.indexOf("kw=") > 0) {
                newHref = newHref.replace(new RegExp("kw=[^&$]*"), "kw=" + query)
            } else {
                newHref += getConnectSymbol(newHref) + 'kw=' + query;
            }
        }

        if (p) {
            newHref += getConnectSymbol(newHref) + "p=" + p;
        }

        if (anchor && anchor.length > 0) {
            newHref += "#" + anchor;
        }

        self.href = newHref;
    }

    window.cid = function (o, p) {
        var w = document.sf.query,
                q = encodeURIComponent(w.value);

        if (!q) {
            o.href += "?cid=" + p
        } else {
            if (p === "web2ww") {
                o.href += "s/?cid=web2ww&w=" + q
            } else if (p === "web2bk") {
                o.href += "Search.e?sp=S" + q + "&cid=web2bk"
            }
        }
    };

    window.m_s_index();
</script>
<script th:src="@{/static/js/sugg_new.v.85.js}" src="/static/js/sugg_new.v.85.js"></script>
<script th:src="@{/static/js/pb_v.1.9.4.min.js}" src="/static/js/pb_v.1.9.4.min.js"></script>
<script th:src="@{/static/js/jquery-1.11.0.min.js}" src="/static/js/jquery-1.11.0.min.js"></script>
<script th:src="@{/static/js/jquery.mousewheel.min.js}" src="/static/js/jquery.mousewheel.min.js"></script>
<script th:src="@{/static/js/juicer-min.js}" src="/static/js/juicer-min.js"></script>
<script th:src="@{/static/js/login_new.min.v.0.2.js}" src="/static/js/login_new.min.v.0.2.js"></script>
<script th:src="@{/static/js/passport-async.js}" src="/static/js/passport-async.js"></script>
<script th:src="@{/static/js/base.js?v=20161026}" src="/static/js/base.js?v=20161026"></script>
<script th:src="@{/static/js/taspeed.min.v.0.0.1.js}" src="/static/js/taspeed.min.v.0.0.1.js"></script>
</body>
</html>